---
const currentYear = new Date().getFullYear();
---

<footer role="contentinfo">
  <div class="hr"></div>
  <div class="copyright">&copy; 2025-{currentYear} ch1n3du LLC, licensed
      <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA 4.0</a>.
  </div>
</footer>
