---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
const siteTitle = 'ch1n3du.net';
const isHomePage = title === siteTitle;
const pageTitle = isHomePage ? title : `${title} - ${siteTitle}`;
---

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator}>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/projects.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="alternate" type="application/rss+xml" title="ch1n3du.net RSS Feed" href="/rss.xml" />
  <script src="/js/theme.js" is:inline></script>
  <title>{pageTitle}</title>
</head>
<body>

<div class="container">

<Header />

<slot />

<Footer />

</div>

<script is:inline>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-92410918-1', 'auto');
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js' is:inline></script>

</body>
</html>
